$default-font-size: 1.6rem;

// Colors

$color-bg: #fafafa;

$color-primary: #00474c;
$color-primary-light: #006168;
$color-primary-dark: #002f33;

$color-secondary: #e1252a;

$color-button: #faaeaa;
$color-button-hover: #f19996;

$color-text-light: #ffffff;
$color-text-light-trans: rgba(255, 255, 255, 0.733);
$color-text-dark: #0f0f0f;