@font-face {
  font-family: clip;
  src: url('../assets/Clip/clip.regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: consolas;
  src: url('../assets/consolas-font/CONSOLA.TTF');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Bold;
  src: url('../assets/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: bold;
}

.nav-link {
  font-family: clip, sans-serif;
}

p {
  font-family: consolas, sans-serif;
  font-size: 3.7rem;
  line-height: 7.4rem;
  @include respond(tab-land) {
    font-size: 3rem;
    line-height: 6rem;
  }
  @include respond(tab-port) {
    font-size: 2.7rem;
    line-height: 5.4rem;
  }
  @include respond(phone) {
    font-size: 2rem;
    line-height: 4rem;
  }
}