*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Set border box to be inherited */
  font-family: consolas, sans-serif;
  color: black;
}

html {
  font-size: 62.5%;
  /* allows user to zoom in on page (change font size) px won't work*/
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.3;
  }
  3% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.4;
  }
  7% {
    opacity: 0.1;
  }
  8% {
    opacity: 0.9;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.6;
  }
  19% {
    opacity: 0.1;
  }
  8% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.1;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0.5;
  }
  23% {
    opacity: 0.1;
  }
  28% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: 0.1;
  }
  37% {
    opacity: 0.7;
  }
  38% {
    opacity: 0.1;
  }
  41% {
    opacity: 0.4;
  }
  55% {
    opacity: 0.1;
  }
  56% {
    opacity: 1;
  }
  57% {
    opacity: 0.9;
  }
  59% {
    opacity: 1;
  }
  61% {
    opacity: 0.1;
  }
  67% {
    opacity: 0.5;
  }
  69% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
@keyframes glow {
  0% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes glow-pulse {
  0% {
    top: 0%;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}
.nav-link {
  font-family: clip, sans-serif;
}

p {
  font-family: consolas, sans-serif;
  font-size: 3.7rem;
  line-height: 7.4rem;
}
@media only screen and (max-width: 56.25em) {
  p {
    font-size: 2.7rem;
    line-height: 5.4rem;
  }
}

.layout {
  display: flex;
  justify-content: space-between;
}

.scrolled {
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.69);
  transition: all 0.2s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  height: 6.5rem;
  background-color: #00474c;
  width: 100%;
  z-index: 500;
}
.navbar__burger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navbar__burger {
    display: inline-block;
    align-self: center;
    margin-top: 8px;
  }
}
.navbar__burger span {
  align-items: center;
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
}
.navbar__image a {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 100%;
  cursor: pointer;
}
.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
}
.navbar__links .active {
  border-bottom: 2px solid #fff;
}
@media only screen and (max-width: 56.25em) {
  .navbar__links {
    display: none;
  }
}
.navbar__links--link {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  text-align: center;
}
.navbar__links--link:hover {
  background-color: #006168;
  color: #002f33;
}
.navbar__links--a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff;
  width: 100%;
  height: calc(100% - 0.7rem);
  padding: 0 1rem;
  padding-bottom: 0rem;
  white-space: nowrap;
}
.navbar__links--a:active {
  border-bottom: 2px solid #fff;
}

.mob-nav-bg {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .mob-nav-bg {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
}
.mob-nav-bg .mob-nav {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .mob-nav-bg .mob-nav {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #00474c;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 6.5rem;
    z-index: 500;
  }
}
.mob-nav-bg .mob-nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mob-nav-bg .mob-nav__links--link {
  width: 100%;
}
.mob-nav-bg .mob-nav__links--link:hover {
  background-color: #006168;
}
.mob-nav-bg .mob-nav__links--a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
  width: 100%;
  height: calc(100% - 0.7rem);
  padding: 2.5rem 0;
}
.mob-nav-bg .mob-nav__links--a:hover {
  color: #002f33;
}
.mob-nav-bg .mob-nav__links .image-container {
  background-color: #002f33;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.mob-nav-bg .mob-nav__links .image-container--image {
  display: flex;
  align-self: center;
  width: 4.46rem;
  height: 3.93rem;
}

.card {
  min-width: 15rem;
  min-height: 10rem;
}

.categories {
  display: flex;
  justify-content: center;
}
.categories__card {
  width: 30rem;
  margin: 15rem 5rem;
}

.course {
  display: flex;
  margin-top: 10rem;
}

/*# sourceMappingURL=style.css.map */
